<!DOCTYPE html>
<html>

<head>
  <title>URL Shortener!</title>
  <meta name="description" content="A url shortener">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">

</head>

<body>
  <header>
    <h1>
        URL Shortener Microservice
      </h1>
  </header><br>
  <main>
    <section>
      <h3>
    Create a short URL - see below
    </h3>
      <p>
        Example creation = https://shortened-url.glitch.me/new/https://www.google.com
      </p>
      <h3>
          returns 
        </h3>
      <p>
        Shortened URL = https://shortened-url.glitch.me/3C65
      </p>
      <h4>
          Using the shotrened url, redirects back to 
        </h4>
      <p>
        www.google.com
      </p>
    </section>
  </main>

  <footer>
    <a href="https://github.com/san00">
        Made by San00
      </a>
  </footer>
</body>

</html>